* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-container {
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 350px;
    max-width: 100%;
}

.progress-container:before {
    content: "";
    width: 100%;
    background-color: #f1f1f1;
    height: 5px;
    position: absolute;
    z-index: -1;
}

.progress {
    width: 0;
    background-color: red;
    height: 5px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.circle {
    background: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #f1f1f1;
    border-radius: 50px;
}

.active {
    border-color: red;
    transition: 0.6s ease-in;
}

.btn {
    border: none;
    padding: 5px 8px;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    background: red;
    color: #fff;
    cursor: pointer;
}

.btn:disabled {
    background: #f1f1f1;
    color: #000;
    cursor: not-allowed;
}