* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    background: #002651;
    text-align: center;
    border-radius: 50%;
}

.fa-plus {
    margin-top: 25px;
    font-size: 50px;
    display: block;
    color: white;
    cursor: pointer;
    transition: .7s;
}

.menu_group {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100px;
    margin: auto;
    background: #775ada;
    border-color: #581b98;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: .7s;
}

.menu_group a {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    color: #364f6b;
}

a:hover {
    color: #2c3e50;
}

a:nth-child(1) {
    top: 6px;
    left: 45px;
}

a:nth-child(2) {
    top: 24px;
    left: 77px;
}

a:nth-child(3) {
    top: 58px;
    left: 76px;
}

a:nth-child(4) {
    top: 78px;
    left: 42px;
}

a:nth-child(5) {
    top: 58px;
    left: 10px;
}

a:nth-child(6) {
    top: 23px;
    left: 12px;
}

img {
    height: 15px;
}