* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #071a52;
    color: #fff;
}

.container {
    border: 1px solid #fff;
    padding: 20px 10px;
    border-radius: 5px;
    height: 400px;
    position: relative;
}

h1 {
    text-align: center;
    margin: 35px;
}

.form-control {
    position: relative;
    width: 300px;
    margin: 20px 0 10px;
}

.form-control input {
    display: block;
    width: 100%;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #ffff;
    padding: 15px 0;
    font-size: 18px;
}

.form-control input:focus {
    outline: 0;
}



#myBtn {
    width: 100%;
    height: 35px;
    margin: 20px 0;
    cursor: pointer;
}

#myBtn:active {
    transform: scale(0.98);
}

.form-control label {
    position: absolute;
    top: 20px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span {
    transform: translateY(-30px);
}